@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');


html { 

    box-sizing: border-box;
} 
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: 'Open Sans', 'sans-serif', 'BebasNeueBold';
    font-weight: 400;

}
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 ;
}
/* Стили для текста */
:root {
    --white-color:#FFFFFF;
    --dark-gray-color:#48555B;
    --blu-color:#00A4E5;
    --gray1-color:#D8D8D8;
    --gray2-color:#E6E6E6;
    --dark1-color:#000000;
    --dark2-color:#171819;
    --dark-gray1-color:#979797;
    --dark3-color:#141A20;
    --blu1-color:#16ACE8;
    --background-color:#F2F2F2;

}
.text-h1 {
    font-family: 'BebasNeueBold';
    font-size: 60px;
    text-transform: uppercase;
}
.text-h2 {
    font-family: 'OpenSans';
    font-size: 30px;
   
}
.text-h3 {
    font-family: 'OpenSans';
    font-size: 22px;
    
}
.text-h4 {
    font-family: 'OpenSans';
    font-size: 18px;
    
}

.text-h5 {
    font-family: 'OpenSans';
    font-size: 11px;
    
}
.text-p {
  font-family: 'OpenSans'; 
  font-size: 13px;
   
}
.text-p-reviews {
    font-family: 'OpenSans'; 
    font-size: 13px;
    line-height: 23px;
}

/* header */
.header {
max-width: 1140px;
    min-height: 768px;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    block-size: cover;
}
.header__title { 

    padding-top: 39px;
    margin-bottom: 325px;
    margin-left: 665px;
   
}
.logo {
   
    position: absolute;
   width: 107px;
    height: 29px;

   
}
.h1 {
    margin: 0 21px;
    font-weight: 600;
    font-size: 60px;
    text-align: center;
    line-height: 70.31px;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 5.7px;
   color:var(--white-color) ;
}
 .h4 {
    margin: 0 auto ;
    font-weight: 400;
    max-width: 386px;
    max-height: 22px;
    font-size: 16px;
    line-height: 19px;
    align-items: flex-end;
    text-align: center;
    
  color: var(--white-color);
}

.h5 {
  padding: 207px;
    font-weight: 400;
    min-width: 117px;
    min-height: 15px;
    font-size: 11px;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 3.7px;
    color: var(--white-color);
}
/* navbar (навигация) */
.nav {
    background-color: #979797;
    max-width: 1442px;
    height: 65px;
    margin: o auto;
}
.navbar {

}
.navbar__nav {
display: flex;
flex-wrap: wrap;
align-items: flex-start;
justify-content: space-between;
}
.header__list {
    display: flex;
    flex-wrap: wrap;

    list-style: none;

}

.header__item {
    margin-right: 48px;
}
.header__item:last-child {
    margin-right: 250px;
}
.header__link {
    font-size: 12px;
    line-height: 14px;
    color: #48555B;
    text-decoration: none;
}
/*Раздел Our story */

.story {
}
.story_left {
    max-width: 406px;
}
.story_title_2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 50px 0;
}
.story_title_2:after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    display: block;
    margin: 10px auto 0;
}
.story_inner {
    display: flex;
}
.story_title_3{
font-weight: bold;
font-size: 20px;
}
.accent-color {
    color: #00A4E5;
}
.story_text {
}
.story_right {
}
.story_item {
}
